<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="stylesheet" type="text/css" href="/css/home.css">
   <title>blog</title>
</head>
<body>
   <main>
      
      <div class="links">
        
         <a href="/post">Make a post</a>
         <a href="/post/showpost">All posts</a>
         <a href="/post/searchpost">Search for a post</a>
         <a href="/complain/create">Complain</a>
         <a href="/user">USER</a>
         <a href="/">home</a>

         <!-- <a href="/complain/allcomplain">All Complains</a> -->
      </div>
   </main>
</body>
</html>