<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="stylesheet" type="text/css" href="/css/searchPost.css">
   <title>Search Posts</title>
</head>
<body>
   <main>
      <a href="/blog" class="nav-btn">Home</a>
      <div class="search-bar-container">
         <input class="search-bar" placeholder="Search..." type="text" id="search-post">
         <ul class="search-suggestions" id="search-suggestions">
         </ul>
      </div>
      <div class="search-result" id="search-result">
      </div>
   </main>
   <script type="text/javascript" src="/js/searchPost.js"></script>
</body>
</html>