.complain-form {
   margin-top: 8rem;
   width: 70vw;
   max-width: 600px;
   border-radius: 0.5rem;
}

.form-input {
   box-sizing: border-box;
   font-size: 1.5rem;
   padding: 0.2em 0.5em;
   width: 90%;
}

.textarea {
   width: 90%;
   font-size: 1.5rem;
   height: 8em;
   resize: none;
}




