.post-main-container {
   margin: 5rem;
}

.post-main-container > * {
   margin-bottom: 1rem;
}

.post-container {
   width: 80vw;
   max-width: 800px;
   box-sizing: border-box;
   box-shadow: 0px 0px 15px -10px;
   padding: 1em;
   border-radius: 0.8em;
}

.post-container > * {
   padding-bottom: 0.4rem;
}

.post-content {
   font-size: 1.3rem;
   margin: 0.5em 0em;
}